body{
    background-color: rgb(104, 194, 239);
}

#fake{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4rem;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

#face  {
    font-family: Verdana;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

*{
	margin: 0px;
}

	header {
    background-color: gray;
    height: 100px;
    width: 1550px;
    padding-top: 2rem;
	}

    hr{
        margin-left: 5rem;
        margin-right: 5rem;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 5px;
    }