body{
    background-color: rgb(39, 205, 223);
}

#fake{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4rem;
    text-shadow: rgb(255, 255, 255) 2px 2px;
}

#face  {
    font-family: Verdana;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 2px 2px;
    text-align: center;
}

*{
	margin: 0px;
}

	header {
    background-color: rgb(0, 0, 170);
    height: 100px;
    width: 1550px;
    padding-top: 2rem;
    box-shadow: 4px 4px;
    animation-name: spok;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	}

    hr{
        margin-left: 2rem;
        margin-right: 2rem;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 5px;
    }



    @keyframes spok{
        from{background-color: rgb(81, 204, 253);}

        to {background-color: rgb(255, 255, 255);}
            }
